<div class="wrapper" style="background: black;">
    <div class="page-header section-dark" style="background-image: url('assets/img/Dashboard.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="driveIn-logo">
                        <img src="assets/img/8 (1).png" alt="DRIVE IN BANGLADESH" width="230" height="200" >
                    </div>
                    <h2 style="font-family:Agency FB; font-weight: bold; text-shadow: 3px 3px darkslategray">One Stop Destination for Complete Detailing Solution</h2>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="" style="opacity: 0.6;">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="" style="opacity: 0.6;">>
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <app-intro></app-intro>
</div>

